<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="A Killer Instinct Pest Control">
	<meta name="keywords" content="Round Rock, Pest Control, A Killer Instinct, HTML5, Bootstrap, Popular" /> 
	<meta name="author" content=""> 
	<title>A Killer Instinct Pest Control</title> 
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/prettyPhoto.css" rel="stylesheet"> 
	<link href="../css/font-awesome.min.css" rel="stylesheet"> 
	<link href="../css/animate.css" rel="stylesheet"> 
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/responsive.css" rel="stylesheet"> 
	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> 
	<script src="js/respond.min.js"></script> <![endif]--> 
	<link rel="shortcut icon" href="../img/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" href="../img/ico/favicon.png">
</head><!--/head-->
<body>
	<div class="preloader">
		<div class="preloder-wrap">
			<div class="preloder-inner"> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div>
			</div>
		</div>
	</div><!--/.preloader-->
	<header id="navigation"> 
		<div class="navbar navbar-inverse navbar-fixed-top" role="banner"> 
			<div class="container"> 
				<div class="navbar-header"> 
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
					</button> 
					<a class="navbar-brand" href="https://www.yelp.com/biz/a-killer-instinct-pest-control-round-rock"><h1><img src="../img/logo.png" alt="logo"></h1></a>  
				</div> 
				<div class="collapse navbar-collapse"> 
					<ul class="nav navbar-nav navbar-right"> 
						<li class="scroll active"><a href="#navigation">Home</a></li> 
						<li class="scroll"><a href="#about-us">About Us</a></li> 
						<li class="scroll"><a href="#services">Services</a></li> 
						<li class="scroll"><a href="#portfolio">Portfolio</a></li> 
						<li class="scroll"><a href="#clients">Clients</a></li> 
						<li class="scroll"><a href="#blog">Blog</a></li> 
						<li class="scroll"><a href="#contact">Contact</a></li> 
					</ul> 
				</div> 
			</div> 
		</div><!--/navbar--> 
	</header> <!--/#navigation--> 

	<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(img/slider/slide3.jpg)"> 
					<div class="carousel-caption"> 
						<div> 
							<h2 class="heading animated bounceInDown">Protect Your Family and Home</h2> 
							<p class="animated bounceInUp">Residential services kid and pet safe</p> 
							<a class="btn btn-default slider-btn animated fadeIn" href="#contact">Get Started</a> 
						</div> 
					</div> 
				</div>
				<div class="item" style="background-image: url(img/slider/slide2.jpg)"> 
					<div class="carousel-caption"> <div> 
						<h2 class="heading animated bounceInDown">Professional Extermination</h2> 
						<p class="animated bounceInUp">No job too big or too small</p> <a class="btn btn-default slider-btn animated fadeIn" href="#contact">Get Started</a> 
					</div> 
				</div> 
			</div> 
			<div class="item" style="background-image: url(img/slider/slide1.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">Serving Central Texas</h2> 
						<p class="animated bounceInLeft">Locally owned, operated and serving the greater Austin area</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="#contact">Get Started</a> 
					</div> 
				</div> 
			</div>
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div> 

</section><!--/#home-->

<section id="about-us">
	<div class="container">
		<div class="text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="title-one">Why With Us?</h2>
				<p>Locally owned and operated proudly serving the greater Austin area</p>
			</div>
		</div>
		<div class="about-us">
			<div class="row">
				<div class="col-sm-6">
					<h3>Why A Killer Instinct?</h3>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> About Us</a></li>
						<li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i>Our Mission</a></li>
						<li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> Community</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="about">
							<div class="media">
								<img class="pull-left media-object" src="../img/about-us/about.jpg" alt="about us"> 
								<div class="media-body">
									<p>"WE GOT OUR SIGHTS SET ON WHAT'S BUGGING YOU"</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="mission">
							<div class="media">
								<img class="pull-left media-object" src="../img/about-us/mission.jpg" alt="Mission"> 
								<div class="media-body">
									<p>To provide excellence in client service and to educate clients in pest prevention and service methods, so they can make an informed decision on the type of services that best fit their needs.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="community">
							<div class="media">
								<img class="pull-left media-object" src="../img/about-us/community.jpg" alt="Community"> 
								<div class="media-body">
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section><!--/#about-us-->

	<section id="services" class="parallax-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="title-one">Services</h2>
					<p>A Killer Instinct Provides High-Caliber  Pest Control Services to Commercial and Residential Clients.  We inspect totally and completely to identify the pest to not only get rid of your pests, but to solve the Problem and do it right the first time.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="our-service">
						<div class="services row">
							<div class="col-sm-4">
								<div class="single-service">
									<i class="fa fa-home"></i>
									<h2>Residential</h2>
									<ul class="text-left">
										<li>Quarterly Residential Service</li>
										<li>Kitchen Cleanouts</li>
										<li>Fire Ant Extermination</li>
										<li>Flea Treatments</li>
										<li>Tick Treatments</li>
										<li>Yard Treatments</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="single-service">
									<i class="fa fa-thumbs-o-up"></i>
									<h2>Commercial</h2>
									<ul class="text-left">
										<li>Monthly Commercial Service</li>
										<li>Large Animal Trapping</li>
										<li>Small Animal Trapping</li>
										<li>Rodent Exclusion</li>
										<li>Rodent Trapping</li>
										<li>Snake Abatement</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="single-service">
									<i class="fa fa-bug"></i>
									<h2>Pests Eliminated</h2>
									<p>​Call us now at (512) 578-6718  ​for a Free Inspection! A Killer Instinct Provides High-Caliber Pest Control Services to Commercial and Residential Clients.  We inspect totally and completely to identify the pest to not only get rid of your pests, but to solve the Problem and do it right the first time.</p>
								</div>
							</div></div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/#service-->

		<section id="portfolio">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="title-one">Critters</h2>
						<p>These are some of the top pests in our area. Let us help you get them out and keep them out!</p>
					</div>
				</div>
				<ul class="portfolio-filter text-center">
					<li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
					<li><a class="btn btn-default" href="#" data-filter=".rodents">Rodents</a></li>
					<li><a class="btn btn-default" href="#" data-filter=".snakes">Snakes</a></li>
					<li><a class="btn btn-default" href="#" data-filter=".insects">Insects</a></li>
					<li><a class="btn btn-default" href="#" data-filter=".arachnids">Arachnids</a></li>
				</ul><!--/#portfolio-filter-->
				<div class="portfolio-items">
					<div class="col-sm-3 col-xs-12 portfolio-item rodents">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="../img/portfolio/skunk.jpg" alt=""></div> 
								<div class="mask text-center">
									<h3>Skunk</h3>
									<h4>Pepé Le Pew stinking up the place?</h4>
									<a href="https://en.wikipedia.org/wiki/Skunk"><i class="fa fa-link"></i></a>
									<a href="../img/portfolio/skunk.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 portfolio-item snakes">
							<div class="view efffect" >
								<div class="portfolio-image">
									<img src="../img/portfolio/rattle.jpg" alt="">
								</div> 
								<div class="mask text-center">
									<h3>Rattlesnake</h3>
									<h4>Illimination of deadly rattlers</h4>
									<a href="https://en.wikipedia.org/wiki/Rattlesnake"><i class="fa fa-link"></i></a>
									<a href="../img/portfolio/rattle.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 portfolio-item snakes">
							<div class="view efffect">
								<div class="portfolio-image">
									<img src="../img/portfolio/Copperhead.jpg" alt="">
								</div> 
								<div class="mask text-center">
								<h3>Copperhead</h3>
								<h4>Hard to see and pack a mean punch</h4>
								<a href="https://en.wikipedia.org/wiki/Agkistrodon_contortrix"><i class="fa fa-link"></i></a>
								<a href="../img/portfolio/Copperhead.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-12 portfolio-item arachnids">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="../img/portfolio/widow.jpg" alt="">
							</div> 
							<div class="mask text-center">
								<h3>Black Widow</h3>
								<h4>Lets keep these deadly beauties from making your home theirs</h4>
								<a href="https://en.wikipedia.org/wiki/Latrodectus"><i class="fa fa-link"></i></a>
								<a href="../img/portfolio/widow.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-12 portfolio-item rodents">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="../img/portfolio/rat.jpg" alt="">
							</div> <div class="mask text-center">
							<h3>Rats</h3>
							<h4>Helped spread the black death</h4>
							<a href="https://en.wikipedia.org/wiki/Rat"><i class="fa fa-link"></i></a>
							<a href="../img/portfolio/rat.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 portfolio-item snakes">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="../img/portfolio/cotton.jpg" alt="">
						</div> 
						<div class="mask text-center">
							<h3>Cotton Mouth</h3>
							<h4>Water front snake removal</h4>
							<a href="https://en.wikipedia.org/wiki/Agkistrodon_piscivorus"><i class="fa fa-link"></i></a>
							<a href="../img/portfolio/cotton.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 portfolio-item rodents">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="../img/portfolio/possum.jpg" alt="">
						</div> 
						<div class="mask text-center">
							<h3>Possum</h3>
							<h4>Don't let them turn your attic into a nest</h4>
							<a href="https://en.wikipedia.org/wiki/Opossum"><i class="fa fa-link"></i></a>
							<a href="../img/portfolio/possum.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-xs-12 portfolio-item insects">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="../img/portfolio/ant.jpg" alt=""></div> 
							<div class="mask text-center">
								<h3>Fire Ants</h3>
								<h4>Red imported fire ant an import from South America</h4>
								<a href="https://en.wikipedia.org/wiki/Red_imported_fire_ant"><i class="fa fa-link"></i></a>
								<a href="../img/portfolio/ant.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-12 portfolio-item rodents">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="../img/portfolio/raccon.jpg" alt="">
							</div> 
							<div class="mask text-center">
								<h3>Raccon</h3>
								<h4>"Trash pandas" making a mess at your place?</h4>
								<a href="https://en.wikipedia.org/wiki/Raccoon"><i class="fa fa-link"></i></a>
								<a href="../img/portfolio/raccon.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-12 portfolio-item arachnids">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="../img/portfolio/scorpion.jpg" alt=""></div> 
								<div class="mask text-center">
									<h3>Scorpions</h3>
									<h4>Well, at least they don't have wings</h4>
									<a href="https://en.wikipedia.org/wiki/Striped_bark_scorpion"><i class="fa fa-link"></i></a>
									<a href="../img/portfolio/scorpion.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3 col-xs-12 portfolio-item insects">
							<div class="view efffect">
								<div class="portfolio-image">
									<img src="../img/portfolio/termite.jpg" alt=""></div> 
									<div class="mask text-center">
										<h3>Termites</h3>
										<h4>Don't let these bugs ruin the structure of your home</h4>
										<a href="https://en.wikipedia.org/wiki/Termite"><i class="fa fa-link"></i></a>
										<a href="../img/portfolio/termite.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-3 col-xs-12 portfolio-item arachnids">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="../img/portfolio/recluse.jpg" alt=""></div> 
										<div class="mask text-center">
											<h3>Brown Recluse</h3>
											<h4>Some bites can produce severe dermonecrotic lesions</h4>
											<a href="https://en.wikipedia.org/wiki/Brown_recluse_spider"><i class="fa fa-link"></i></a>
											<a href="../img/portfolio/recluse.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div> 

					</section> <!--/#portfolio-->

					<section id="clients" class="parallax-section">
						<div class="container">
							<div class="clients-wrapper">
								<div class="row text-center">
									<div class="col-sm-8 col-sm-offset-2">
										<h2 class="title-one">Clients Say About Us</h2>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
									</div>
								</div>
								<div id="clients-carousel" class="carousel slide" data-ride="carousel"> <!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#clients-carousel" data-slide-to="0" class="active"></li>
										<li data-target="#clients-carousel" data-slide-to="1"></li>
										<li data-target="#clients-carousel" data-slide-to="2"></li>
									</ol> <!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<div class="single-client">
												<div class="media">
													<span class="yelp-review" data-review-id="-XlVnvZhDzccVWizRz3jzg" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=tbhvE9AnWmcEMwZ_QzC04A" rel="nofollow noopener">Tania G.</a>'s <a href="https://www.yelp.com/biz/a-killer-instinct-pest-control-round-rock?hrid=-XlVnvZhDzccVWizRz3jzg" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/RYHknvB0mTY9PQNSnDs5nw" rel="nofollow noopener">A Killer Instinct Pest Control</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="single-client">
												<div class="media">
													<span class="yelp-review" data-review-id="v4QZO98IqahIFf2j2fwxoA" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=hSjIReCZNpjL17KGPe6LOg" rel="nofollow noopener">M M.</a>'s <a href="https://www.yelp.com/biz/a-killer-instinct-pest-control-round-rock?hrid=v4QZO98IqahIFf2j2fwxoA" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/RYHknvB0mTY9PQNSnDs5nw" rel="nofollow noopener">A Killer Instinct Pest Control</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="single-client">
												<div class="media">
													<span class="yelp-review" data-review-id="a4TEK86fmllgzVsqDid8zw" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=NXjv5xl-62CWOB16DSSVHw" rel="nofollow noopener">Chris R.</a>'s <a href="https://www.yelp.com/biz/a-killer-instinct-pest-control-round-rock?hrid=a4TEK86fmllgzVsqDid8zw" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/RYHknvB0mTY9PQNSnDs5nw" rel="nofollow noopener">A Killer Instinct Pest Control</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section><!--/#clients-->

					<section id="blog"> 
						<div class="container">
							<div class="row text-center clearfix">
								<div class="col-sm-8 col-sm-offset-2">
									<h2 class="title-one">Our Blog</h2>
									<p class="blog-heading">Take a moment to read about the latest community updates</p>
								</div>
							</div> 
							<div class="row">
								<div class="col-sm-4">
									<div class="single-blog">
										<img src="../img/blog/Workertermite1.jpg" alt="" />
										<h2>Termites!</h2>
										<ul class="post-meta">
											<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>
											<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>
										</ul>
										<div class="blog-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
										</div>
										<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-one">Read More</a>
									</div>
									<div class="modal fade" id="blog-one" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-body">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<img src="../img/blog/Workertermite1.jpg" alt="" />
													<h2>Lorem ipsum dolor sit amet</h2>
													<p>Termite ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
												</div> 
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="single-blog">
										<img src="../img/blog/fireant.jpg" alt="" />
										<h2>Ants!</h2>
										<ul class="post-meta">
											<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>
											<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>
										</ul>
										<div class="blog-content">
											<p>Ants ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
										</div>
										<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-two">Read More</a>
									</div>
									<div class="modal fade" id="blog-two" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-body">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<img src="../img/blog/fireant.jpg" alt="" />
													<h2>Lorem ipsum dolor sit amet</h2>
													<p>HERELorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
												</div> 
											</div>
										</div>
									</div>
								</div>																
								<div class="col-sm-4">
									<div class="single-blog">
										<img src="../img/blog/Rat1.jpg" alt="" />
										<h2>Rats!</h2>
										<ul class="post-meta">
											<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>
											<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>
										</ul>
										<div class="blog-content">
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
										</div>
										<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-three">Read More</a>
									</div>
									<div class="modal fade" id="blog-three" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-body">
													<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
													<img src="../img/blog/Rat1.jpg" alt="" />
													<h2>Lorem ipsum dolor sit amet</h2>
													<p>HERELorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
												</div> 
											</div>
										</div>
									</div>
								</div>
							</div> 
						</section> <!--/#blog-->

						<section id="contact">
							<div class="container">
								<div class="row text-center clearfix">
									<div class="col-sm-8 col-sm-offset-2">
										<div class="contact-heading">
											<h2 class="title-one">Contact Us</h2>
											<p>We would love to come out and provide a free estimate or answer any questions you may have.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="contact-details">
									<div class="pattern"></div>
									<div class="row text-center clearfix">
										<div class="col-sm-6">
											<div class="contact-address"><address><p><span>A </span>Killer Instinct</p><strong>512-578-6718<br>akipestcontrol@gmail.com</strong><br><small>( Find us on Facebook )</small></address>
												<div class="social-icons">
													<a href="https://www.facebook.com/AKillerInstinct"><i class="fa fa-facebook"></i></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6"> 
											<div id="contact-form-section">
												<div class="status alert alert-success" style="display: none"></div>
												<form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">
													<div class="form-group">
														<input type="text" name="name" class="form-control name-field" required="required" placeholder="Your Name"></div>
														<div class="form-group">
															<input type="email" name="email" class="form-control mail-field" required="required" placeholder="Your Email">
														</div> 
														<div class="form-group">
															<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
														</div> 
														<div class="form-group">
															<button type="submit" class="btn btn-primary">Send</button>
														</div>
													</form> 
												</div>
											</div>
										</div>
									</div>
								</div> 
							</section> <!--/#contact--> 

	<footer id="footer"> 
		<div class="container"> 
			<div class="text-center"> 
				<p>Copyright &copy; 2017 - <a href="http://www.glaspie.us/">Glaspie inc.</a> | All Rights Reserved</p> 
			</div> 
		</div> 
	</footer> <!--/#footer--> 

	<script type="text/javascript" src="js/jquery.js"></script> 
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script> 
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script> 
	<script type="text/javascript" src="js/jquery.parallax.js"></script> 
	<script type="text/javascript" src="js/main.js"></script> 

</body>
</html>
